<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christian Truth Publishing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Assistant&family=Jost:wght@300&display=swap" rel="stylesheet" SameSite=None>
    <script src="https://kit.fontawesome.com/6d0b9dc65c.js" crossorigin="anonymous" SameSite=None></script>
</head>
<body>
    <img src="~/images/CTPimage.jpg" class="bg-image">
    <header class="header">
        <div class="header__main">
            <div class="header__main__title"><a asp-controller="Admin" asp-action="Index" class="home-link">Christian Truth Publishing</a></div>
        </div>@*header__main*@
        <div class="header__bottom" style="padding-bottom: 5px;">
            <nav class="header__nav">
                <span class="header__nav__item"><a class='nav-item @(ViewBag.Current == "Ebooks" ? "activeLink" : "") ' asp-controller="Admin" asp-action="Ebooks" id="ebookLink">eBooks</a></span>
                <span class="header__nav__item"><a class='nav-item @(ViewBag.Current == "Ministry" ? "activeLink" : "") ' asp-controller="Admin" asp-action="Ministry" id="bookLink">Ministry</a></span>
                <span class="header__nav__item"><a class='nav-item @(ViewBag.Current == "Expositions" ? "activeLink" : "") ' asp-controller="Admin" asp-action="Expositions" id="studyLink">Expositions</a></span>
                <span class="header__nav__item"><a class='nav-item @(ViewBag.Current == "Booklets" ? "activeLink" : "") ' asp-controller="Admin" asp-action="Booklets" id="bookletLink">Booklets</a></span>
            </nav>@*header__nav*@
        </div>@*header__bottom*@
        <div class="header__collapse">
            <i class="fas fa-bars" id="btnCollapse"></i>
            <div class="header__collapse__menu" id="menuCollapse">
                <a class='nav-item @(ViewBag.Current == "Ebooks" ? "activeLink" : "") ' asp-controller="Admin" asp-action="Ebooks" id="ebookLink">eBooks</a>
                <a class='nav-item @(ViewBag.Current == "Ministry" ? "activeLink" : "") ' asp-controller="Admin" asp-action="Ministry" id="bookLink">Ministry</a>
                <a class='nav-item @(ViewBag.Current == "Expositions" ? "activeLink" : "") ' asp-controller="Admin" asp-action="Expositions" id="studyLink">Expositions</a>
                <a class='nav-item @(ViewBag.Current == "Booklets" ? "activeLink" : "") ' asp-controller="Admin" asp-action="Booklets" id="bookletLink">Booklets</a>
            </div>
        </div>@*header__collapse*@
    </header> @*header*@

    <div class="main">
        @RenderBody()
    </div>@*main*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
