@model CTP.Models.Ministry
<a class="main__arrow" asp-controller="Admin" asp-action="Ministry" style="cursor: pointer;"><i class="fas fa-arrow-left" style="font-size: 34px; float: left;"></i></a><div class="main__title main__title--listing">Edit Ministry</div>
<div class="main__description" style="margin-left: +100px;">@Model.title by @Model.author</div>
<div class="page-content" style="margin-left: +100px;">
    <form enctype="multipart/form-data" class="form" method="post" asp-controller="Admin" asp-action="EditMinistrySubmit">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" asp-for="title" value="@Model.title" class="form-control input" maxlength="200" required>
            <span asp-validation-for="title" class="text-danger" />
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" asp-for="author" value="@Model.author" class="form-control input" maxlength="200" required>
            <span asp-validation-for="author" class="text-danger" />
        </div>
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" asp-for="code" value="@Model.code" class="form-control input" maxlength="10"  style="width: 100px;" required>
            <span asp-validation-for="code" class="text-danger" />
        </div>
        <div class="form-group">
            <label for="amazon">Price</label>
            <input type="number" step="0.01" asp-for="price" value="@Model.price" class="form-control input"  style="width: 100px;" maxlength="10" required>
            <span asp-validation-for="price" class="text-danger" />
        </div>
        <div class="form-group" style="text-align: left;">
            <label for="imgFile">Front Cover Image</label>
            <div class="form-group">
                <label class="btn btn-light" style="cursor: pointer;">
                    Browse<input type="file" id="frontcover" name="newfrontcover" hidden>
                </label>
                <span>Selected File: <span id="message" class="filename-text">@Model.frontcover</span></span>
                <span asp-validation-for="frontcover" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" style="text-align: left;">
            <label for="imgFile">Back Cover Image</label>
            <div class="form-group">
                <label class="btn btn-light" style="cursor: pointer;">
                    Browse<input type="file" id="backcover" name="newbackcover" hidden>
                </label>
                <span>Selected File: <span id="message1" class="filename-text">@Model.backcover</span></span>
                <span asp-validation-for="backcover" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="id" value="@Model.id">
            <input type="hidden" asp-for="frontcover" value="@Model.frontcover">
            <input type="hidden" asp-for="backcover" value="@Model.backcover">
            <input style="float: right; margin-bottom: 80px;" class="edit-button" type="submit" value="Save Changes">
        </div>
    </form>

</div>