<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christian Truth Publishing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Assistant&family=Jost:wght@300&display=swap" rel="stylesheet" SameSite=None>
    <script src="https://kit.fontawesome.com/6d0b9dc65c.js" crossorigin="anonymous" SameSite=None></script>
</head>
<body>
    <img src="~/images/CTPimage.jpg" class="bg-image">
    <header class="header">
        <div class="header__main">
            <div class="header__main__title"><a href="/" class="home-link">Christian Truth Publishing</a></div>
            <form class="header__main__search" method="" action="">
                <input autocomplete="on" required="required" placeholder="search..." type="text" class="searchbar">
                <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
            </form>@*header__main__search*@
        </div>@*header__main*@
        <div class="header__bottom">
            <nav class="header__nav">
                <span class="header__nav__item"><a class='nav-item @(ViewBag.Current == "Ebooks" ? "activeLink" : "") ' asp-controller="Home" asp-action="Ebooks" id="ebookLink">eBooks</a></span>
                <span class="header__nav__item"><a class='nav-item @(ViewBag.Current == "Ministry" ? "activeLink" : "") ' asp-controller="Home" asp-action="Ministry" id="bookLink">Ministry</a></span>
                <span class="header__nav__item"><a class='nav-item @(ViewBag.Current == "Expositions" ? "activeLink" : "") ' asp-controller="Home" asp-action="Expositions" id="studyLink">Expositions</a></span>
                <span class="header__nav__item"><a class='nav-item @(ViewBag.Current == "Booklets" ? "activeLink" : "") ' asp-controller="Home" asp-action="Booklets" id="bookletLink">Booklets</a></span>
                <span class="header__nav__item"><a class='nav-item @(ViewBag.Current == "Languages" ? "activeLink" : "") ' asp-controller="Home" asp-action="Languages" id="languageLink">Languages</a></span>
            </nav>@*header__nav*@
            <div class="header__social">
                <span class="social-item" id="btnPhone"><i class="fas fa-phone-square"></i></span>
                <span class="social-item" id="btnEmail"><i class="fas fa-envelope-square"></i></span>
            </div>@*header__social*@
        </div>@*header__bottom*@
        <div class="header__collapse">
            <i class="fas fa-bars" id="btnCollapse"></i>
            <div class="header__collapse__menu" id="menuCollapse">
                <a class='nav-item @(ViewBag.Current == "Ebooks" ? "activeLink" : "") ' asp-controller="Home" asp-action="Ebooks" id="ebookLink">eBooks</a>
                <a class='nav-item @(ViewBag.Current == "Ministry" ? "activeLink" : "") ' asp-controller="Home" asp-action="Ministry" id="bookLink">Ministry</a>
                <a class='nav-item @(ViewBag.Current == "Expositions" ? "activeLink" : "") ' asp-controller="Home" asp-action="Expositions" id="studyLink">Expositions</a>
                <a class='nav-item @(ViewBag.Current == "Booklets" ? "activeLink" : "") ' asp-controller="Home" asp-action="Booklets" id="bookletLink">Booklets</a>
                <a class='nav-item @(ViewBag.Current == "Languages" ? "activeLink" : "") ' asp-controller="Home" asp-action="Languages" id="languageLink">Languages</a>
            </div>
        </div>@*header__collapse*@
    </header> @*header*@

    <div class="main">
        @RenderBody()
    </div>@*main*@
    
    <footer class="footer">
        <div class="footer__address">
            <i class="fas fa-map-marker-alt"></i>
            <span>
                9 - B Appledale Road<br>
                Hamer Bay Ontario<br>
                P0C 1H0<br>
                Canada
            </span>
        </div>@*footer__address*@
        <div class="footer__social">
            <span class="footer__social__item"><i class="fas fa-phone"></i>1 (705) 375-5812<br></span>
            <span class="footer__social__item"><i class="fas fa-at"></i><a href="mailto:rjboulard@gmail.com">rjboulard@gmail.com</a><br></span>
            <span class="footer__social__item"><i class="fas fa-at"></i><a href="mailto:christiantruthpublishing@gmail.com">christiantruthpublishing@gmail.com</a></span>
        </div>@*footer__social*@
        <div class="footer__admin">
            <span class="footer__admin__item"><i class="fas fa-sign-in-alt"></i><a href="#" target="_blank">Administrative Login</a></span>
            <span class="footer__admin__item"><i class="fab fa-blogger-b"></i><a href="https://christiantruthpublishing.blogspot.com/" target="_blank">CTP Blogspot</a></span>
            <span class="footer__admin__item"><i class="fas fa-bible"></i><a href="https://bibletruthpublishers.com/" target="_blank">Bible Truth Publishers</a></span>
        </div>@*footer__admin*@
    </footer>@*footer*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
